@media only screen and (max-width:767px) {
  .logo{
    left: 6%;
  } 
    .section:before {
       display: block;
        content: "";
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 75px;
        background: #000;
        z-index: 9999;
    }
    .logo1 {
      position: relative;
      margin-top: 10px;
      width: 190px;
      height: 52px;
      max-width: 100%;
      background: url(../images/MG-Logo-sm.png) no-repeat;
      margin-left: 35%;
      z-index: 99;
      background-size: 50%;
      background-position: center; 
    }
    .ham-burger {
       position: absolute;
        top: 15px;
        right: 10px;
        display: inline-block;
        cursor: pointer;
        z-index: 99;
        
        
      }
    
    .change-hamburger{
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        transition: 0.5s ease;
      }
      .canvasSidenav {
        height: 100%;
        width: 0;
        position: absolute;
        z-index: 999;
        top: 0;
        right: 0;
        background-color: #fff;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
      .canvasSidenav ul{
          margin-top: 20px;
          padding:0px;
          list-style: none;
          text-align: center;
          
      }
      .canvasSidenav ul li{
        display: block;
    }
      
      .canvasSidenav li a {
        font-family: CircularStd-Bold;
        font-weight: bold;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 4.01;
        letter-spacing: normal;
        text-align: center;
        color: #7c93a6;
        padding: 6px 18px;
        text-transform: uppercase;
        text-decoration: none;
      }

      
    .canvasSidenav li.active {
        position: relative;
        border: 1px solid #cf2230;
        background: #fff;
        z-index: 1;
        color: #cf2230;
        display: inline-block;
        
        
    }
    .canvasSidenav li.active a {
        color: #17ACE1;
        position: relative;
        z-index: 1;
    }
    .canvasSidenav li.active::before {
        content: "";
        z-index: -1;
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: 5px;
        right: 5px;
        background-color: white;
    }
    .canvasSidenav li.active::after {
        content: "";
        z-index: -1;
        position: absolute;
        top: 5px;
        bottom: 5px;
        left: -1px;
        right: -1px;
        background-color: white;
    }
    .canvasSidenav li.active a:hover{
        color: #17ACE1;
    }
    
    .canvasSidenav li a:focus {
        outline: none;
    }
    .canvasSidenav li li:hover{
        background: rgba(255,255,255, 0.8);
    }
      
      
      .canvasSidenav .closebtn {
        position: absolute;
        top: 10px;
        right: 15px;
        
      }
      #menu, .charge-text, .wire-battery, .capacity-up, .title img, .circle-inside-an-ev-battery {
          display: none;
      }
      
      
    .title {
    -webkit-text-stroke: 0.5px rgba(124, 147, 166, 0.3);
    font-size: 40px;
    font-weight: 900;
    color: rgba(255, 255, 255, 0);
    position: absolute;
    top: 90px;
    left: 20px;
    font-family: CircularStd-Black;
    }
    .component-battery {
        max-width: 100%;
        height: auto;
        margin-top: 43%;
        margin-left: -17px;
    }
    .charge-80 {
      position: fixed;
      top: 150px;
      left: 20px;
      font-family: CircularStd-Book;
      font-size: 10px;
      color: #8998a2;
      text-transform: uppercase;
      padding-left: 2%;
      z-index: 9999;
      line-height: 14px;
    }
    .arrow-floor-fitted-around{
      position: absolute;
      bottom: -10%;
      left: 22%;
      margin-left: 90px;
      }
      .arrow-floor-fitted-around .arrow{
        margin-left: 70px;
      }
      
      .floor-fitted-heavy {
        font-family: CircularStd-Book;
        font-size: 10px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.7;
        letter-spacing: 2px;
        text-align: left;
        color: #8998a2;
        text-transform: uppercase;
        margin-top: 10px;
        padding-left: 6%;
      }
      .carousel-item:before{
        display: none;
      }
      .circle-margin-battery {
        width: 100%;
        margin-top: 15%;
        margin-left: 20%;
        
    }
    .circle-full-battery img{
      width: 60%;
    }
    .motor-oval{
    position: absolute;
    width: 160px;
    height: 160px;
    top: 0;
    left: 0;
    opacity: 0.1;
    margin-left: 16px;
    margin-top: 0px;
    border-radius: 200%;
    background-image: conic-gradient(from 1turn, rgba(0, 145, 255, 0), #17ACE1, rgba(0, 145, 255, 0));
    }
    
    .motor-oval-text-battery {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      /* margin-left: -71px; */
      /* margin-top: 0px; */
  }
  .motor{
    line-height: 30px;
  }
  #carouselExampleIndicators .carousel-indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 1%;
    left: 1%;
    margin: auto;
}  
/* css by shruti */
/* #carouselhistory .carousel-item:first-child:before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -156px;
  width: 573px;
  background: #000;
  transform: skew(-21deg);
  z-index: -1;
} */
.p-65 {
  padding-left: 0px;
}
.ml-neg{
margin-left: -80px;
margin-top: 40px;
}

.percentage { 
  right: 9%;
  bottom: 15%;
  font-size: 12px;
}
#carouselhistory .carousel-item:first-child { 
  content: "";
    position: relative; 
  
}
#carouselhistory .carousel-item:first-child:before, #carouselhistory .carousel-item:first-child:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 9;
  -webkit-backface-visibility: hidden;
  /* background: #fff; */
}
 
#carouselhistory .carousel-item:first-child:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -156px;
  width: 573px;
  background: #000;
  z-index: -999;
  transform: skewY(-17.5deg);
}
.circle-history {
  position: absolute; 
  bottom: 22%;
  right: 0;
  z-index: 99;
  top: unset;
}

.circle-full img{
  width: 60%; 
}

.history-oval-text {
  position: absolute;
  top: 50%;
  left: 11%;
  transform: translate(-22%, -50%);
  margin-top: 0px;
}

.motor {
  position: relative; 
  font-size: 32px; 
}

.max-power-zero-rpm { 
  line-height: 4; 
}

#section1 h1 { 
  font-size: 44px; 
}

#section1 .wire {
  position: absolute;
    left: -103px;
    top: 12%
}
#section1 .wire img {
 width: 98%;
}

.percent-wrapper {
  width: 100%; 
}
.dark-block,.light-block {
  width: 6.7px;
  height: 8.9px; 
}

.top-bg {
  position: absolute;
  top: unset;
  right: 12%;
  bottom: 18%;
  z-index: 99;
}
#carouselhistory .carousel-indicators { 
  bottom: 5%; 
}
.mobile-outer-img {
  margin: 0 auto;
  display: table;
}
.mobile-outer-img img {
  width: 122px;
}
@-webkit-keyframes outerRotate1 {
  0% {
    transform: translate(-0%, -0%) rotate(0);
  }
  100% {
    transform: translate(-0%, -0%) rotate(360deg);
  }
}
@-moz-keyframes outerRotate1 {
  0% {
    transform: translate(-0%, -0%) rotate(0);
  }
  100% {
    transform: translate(-0%, -0%) rotate(360deg);
  }
}
@-o-keyframes outerRotate1 {
  0% {
    transform: translate(-0%, -0%) rotate(0);
  }
  100% {
    transform: translate(-0%, -0%) rotate(360deg);
  }
}
@keyframes outerRotate1 {
  0% {
    transform: translate(-0%, -0%) rotate(0);
  }
  100% {
    transform: translate(-0%, -0%) rotate(360deg);
  }
}



@-webkit-keyframes outerRotate2 {
  0% {
    transform: translate(-0%, -0%) rotate(0);
  }
  100% {
    transform: translate(-0%, -0%) rotate(-360deg);
  }
}
@-moz-keyframes outerRotate2 {
  0% {
    transform: translate(-0%, -0%) rotate(0);
  }
  100% {
    transform: translate(-0%, -0%) rotate(-360deg);
  }
}
@-o-keyframes outerRotate2 {
  0% {
    transform: translate(-0%, -0%) rotate(0);
  }
  100% {
    transform: translate(-0%, -0%) rotate(-360deg);
  }
}
@keyframes outerRotate2 {
  0% {
    transform: translate(-0%, -0%) rotate(0);
  }
  100% {
    transform: translate(-0%, -0%) rotate(-360deg);
  }
}
.mobile-new-history-oval {
  position: absolute;
  width: 130px;
  height: 130px;
  top: -8px;
  left: 34%;
  opacity: 0.1;
  border-radius: 100%;
  background-image: conic-gradient(from 1turn, rgba(0, 145, 255, 0), #17ACE1, rgba(0, 145, 255, 0));
  /* -webkit-animation: outerRotate2 15s infinite linear; */
  -moz-animation: outerRotate2 15s infinite linear;
  -o-animation: outerRotate2 15s infinite linear;
  /* animation: outerRotate2 15s infinite linear; */
  right: 0;
  margin: 0 auto;
  display: table;
}

.mobile-middle-img {
  position: absolute;
  top: 0;
  left: 35%;
  -webkit-animation: outerRotate2 15s infinite linear;
    -moz-animation: outerRotate2 15s infinite linear;
    -o-animation: outerRotate2 15s infinite linear;
    animation: outerRotate2 15s infinite linear;
}

.mobile-middle-img img {
  width: 122px;
  margin: 0 auto;
  display: table;
}

.mobile-inner-img {
  position: absolute;
  top: 5%;
  left: 38%;
  -webkit-animation: outerRotate1 5s infinite linear;
  -moz-animation: outerRotate1 5s infinite linear;
  -o-animation: outerRotate1 5s infinite linear;
  animation: outerRotate1 5s infinite linear;
}


.mobile-inner-img img {
  width: 100px;
}


.mobile-circle-text-wrapper {
  position: absolute;
  top: 50%;
  left: 33%;
  transform: translate(-10%, -50%);
  margin-top: 10px;
}

.mobile-small-text {
  position: relative;
  opacity: 1;
  font-family: CircularStd-Book;
  font-size: 10px;
  font-weight: bold; 
  letter-spacing: 3.1px;
  text-align: center;
  color: #17ACE1;
}

.mobile-big-text {
  position: relative;
  opacity: 1;
  font-family: CircularStd-Book;
  font-size: 32px;
  font-weight: 900; 
  text-align: center;
  color: #17ACE1;
}

/*myth*/

.section5 .triangle-txt {
  width: 91%;
  margin-left: 0;
  margin-top: 95px;
  margin-bottom: 0px;
  font-family: CircularStd-Book;
  font-size:12px;
  text-transform: uppercase;
}

.section5 .tri-cir-myth-wrap.mt-4 {
  display: none;
}
.section5 .tree-img {
  margin-left: 6px;
  margin-top: -38px;
}
.section5 .diamond-img {
  position: relative;
  margin-left: 0;
  top: 35px;
}
.section5 .diamond-img img {
  max-width: 97%;
}
.section5 .small-myths-car img {
  max-width: 83%;
}
.section5 .small-myths-car {
  margin-top: -3px;
  margin-left: -75%;
}
.section5 title img{
  display:none;
}
.section5 .comp-box {
  padding: 20px 15px;
  min-height: auto;
  max-width: 94%;
  margin: 0 3%;
}
.section5 .comp-box-title {
  font-size: 10px;
  margin-bottom: 5px;
}
.section5 .comp-box-text {
  font-family: CircularStd-Book;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: normal;
  color: #ffffff;
}

.section5 .comp-box.transparent .comp-box-title
{
  color:#39556d;
}
.section5 .comp-box.transparent {
  border: solid 1px #7c93a6;
  margin-left: 1.8vw;
}
.section5 .comp-box.transparent .comp-box-title, .comp-box.transparent .comp-box-text {
  color: #39556d;
}
.section5 .comp-box.transparent{
  margin:0 3% !important;
  margin-top:15px !important;
}
p.myth-caption-txt {
  display: none;
}
.bottom-nav {
  display: none;
}
.left-right {
  display: none;
}
.costing-myths .triangle-txt {
  width: 130%;
  margin-left: 0;
}
.costing-myths .diamond-img {
  margin-left: -20px;
}
.costing-myths .diamond-img img{
  max-width:80%;
}
.costing-myths .small-myths-car img {
  margin-top: 10px;
}
.img-myth-top {
  display: none;
}
.charging-myths .triangle-img {
  display: none;
}
.charging-myths .triangle-txt {
  text-transform: uppercase;
  width: 128%;
  margin-left: 0;
  margin-bottom: 28px;
  margin-top: 90px;
}
.charging-myths .tree-img {
  margin-left: -30px;
  margin-top: -41px;
}
.charging-myths .tree-img img{
  max-width: 73%;
}
#carouselMyths .carousel-indicators
{
  bottom:1%;
}


/*Component */
 
.section4 .circle-margin-component {
  position: absolute;
  top: 0;
  z-index: -1;
  left: 15%;
  max-width: 70%;
  margin: auto;
}
.section4 .circle-margin-component img {
  max-width: 70%;
}
.mobile-hidden{display:none;}
.section4 .row.d-block.d-sm-none.mt-15 {
  margin-top: 100px;
}
.floor-fitted-heavy br {
  display: none;
}
.section4 .row.d-block.d-sm-none.mt-5 {
  margin-top: 66px !important;
  margin-left: -25px !important;
}
.section4 .mobile-small-text {
  text-transform: uppercase;
}
.section4 .virtually-img {
  display: none;
}
.better-aerodynamics {
  font-family: CircularStd-Book;
  font-size: 10px;
  color: #8998a2;
  text-transform: uppercase;
  line-height: 1.7;
  padding-left: 0;
  margin-top: 80px;
  letter-spacing: 2px;
}
.section4 .circle-inside-an-ev {
  display: none;
}
.motor-car-mobile{
  margin-right: 0 !important;
}
.longer-lasting-fast {
  text-align: left;
}
.component-controller-mobile .mobile-circle-text-wrapper {
  position: absolute;
  top: 50%; 
  left: 24%;
}

.charge-up {
  left: 28%;
  top: 115%;
  text-align: left;
}
.desktop-hidden{
  display:block;
}
.controller-top {
  top: 100%;
  left: auto;
  right: 0 !important;
  text-align: right;
}
.controller-top img{
  display:block;
}
.controller-top img.rel-margin{
  left:auto;
  top: -33px;
  right: 29px;
}
.controller-top img.rotate{
  float:right;
}
.row.d-block.d-sm-none.mt-5.component-controller-mobile {
  margin-top: 90px !important;
}
.mt-margin {
  margin-top: 15%;
}

.circle-margin-history {
  position: absolute;
  top: 50px;
  left: -17%;
  z-index: -1;
}

.oval-text-history {
  left: 0%;
  transform: translate(28%, -50%);
}
.text-history { 
  font-size: 22px; 
}
.mobile-outer-history {
  position: absolute;
  left: -5%;
}
.mobile-history-wrapper { 
  position: absolute;
  left: -9%;
}
.mobile-outer-history img {
  width: 220px;
}
.mobile-history-text { 
  transform: translate(14%, 16%);  
}
.mobile-history{
  position: absolute;
  width: 195px;
  height: 195px;
  top: -2%;
    left: -2%;
  opacity: 0.1;
  border-radius: 100%;
  background-image: conic-gradient(from 1turn, rgba(0, 145, 255, 0), #17ACE1, rgba(0, 145, 255, 0));
  /* -webkit-animation: outerRotate2 15s infinite linear; */
  -moz-animation: outerRotate2 15s infinite linear;
  -o-animation: outerRotate2 15s infinite linear;
  /* animation: outerRotate2 15s infinite linear; */
  right: 0;
  margin: 0 auto;
  display: table;
}

.mobile-middle-history {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: outerRotate2 15s infinite linear;
    -moz-animation: outerRotate2 15s infinite linear;
    -o-animation: outerRotate2 15s infinite linear;
    animation: outerRotate2 15s infinite linear;
}

.mobile-middle-history img {
  width: 183px;
}

.mobile-inner-history {
  position: absolute;
  top: 8%;
  left: 5%;
  -webkit-animation: outerRotate1 5s infinite linear;
  -moz-animation: outerRotate1 5s infinite linear;
  -o-animation: outerRotate1 5s infinite linear;
  animation: outerRotate1 5s infinite linear;
}


.mobile-inner-history img {
  width: 150px;
}

/* Mg */

.top-stroke-title {
  -webkit-text-stroke: 0.5px rgba(124, 147, 166, 0.3);
  font-size: 40px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0); 
  font-family: CircularStd-Black;
  margin-top: 30px;
}
#section2 p {
  opacity: 0.4;
  font-family: CircularStd-Medium;
  font-size: 13px;
  text-align: left;
  color: #39556d;
  font-weight: 900;
}
#section2 h1 {
  font-family: CircularStd-Medium;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.2;
  color: #39556d;
  text-align: left;
  margin-top: 13px;
}

.top-video {
  position: absolute;
  top: 35%;
  right: 5%;
}
.spec-text {
  font-family: CircularStd-Bold;
  font-size: 10px;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 2px;
  color: #39556d;
  text-transform: uppercase;
  text-align: left;
}
.spec-title {
  font-size: 32px;
  font-weight: 900;
  text-align: left;
  color: #39556d;
  font-family: CircularStd-Black;
  text-transform: uppercase;
}

.desc {
  font-family: CircularStd-Book;
  font-size: 12px; 
  letter-spacing: 2.57px;
  text-align: justify;
  color: #ffffff;
  text-transform: uppercase;
}
.top-title {
  text-transform: uppercase;
  letter-spacing: 1.6px; 
}

.yourButton { 
  height: 281px; 
  margin-top: 8px; 
  padding: 29px 0 0 26px;
}
.mtr-neg {
  margin-top: -48px;
  margin-left: 0;
  margin-bottom: 15px;
}
img.mtr-neg {
  width: 183px;
}

#carouselmg .carousel-indicators { 
  bottom: 0;
  /* left: 1%; */
}
}
