/* responive for benefits section */
.particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: white; */
    z-index: 8;
    display: none;
}
.triangle-grained-news{
    position: relative;
    margin-top: 400px;
    margin-left: 150px;
}
.octo, .octo div img{
    width: 418px;
    height: 390px;
}

@media only screen and (max-width:767px) {
    .dc-sm-none{
        display: none;
    }
    .mph-speed{
        position: absolute;
        top:140px;
        left: 0;
    }
    .octo, .octo div {
        width: 300px;
        height: 300px;
    }
    .octo, .octo div img{
       
        height: 300px;
    }
    .mph-speed .spec-text{
        position: absolute;
        top: 30px;
        font-size: 8px;
}
.mph-speed .spec-title {
    position: absolute;
    top: 45px;
    font-size: 19px;
    font-weight: 800;
    text-align: left;
    color: #39556d;
    font-family: CircularStd-Black;
    text-transform: uppercase;
}

.circle-margin-benefit-sm {
    position: fixed;
    bottom: 126px;
    z-index: 2;
    left: 25%;
}
.km-cover-block{
    position: absolute !important;
    top:150px !important;
}
.graph3 {
    width: 140px;
    height: 44px;
    background-image: linear-gradient(to right, rgba(207, 34, 48, 0), #17ACE1);
}
.engine.float-right{
    display: none;
}
#carouselBenefit .carousel-item:last-child:before {
    display: block;
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 75px;
    background: #019e43 !important;
    z-index: 9999;
}
.img-max-wdith-100{
    max-width: 100%;
}
.circle-eco-benefit {
    position: absolute;
    top: 9%;
    z-index: -1;
    left: 13%;
}
.section3 .mobile-small-text {
    text-transform: uppercase;
}
.section3 .mobile-small-text {
    text-transform: uppercase;
  }

  .mobile-circle-text-wrapper-benefits {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-30%, -50%);
    margin-top: 10px;
    white-space: nowrap;
  }
  .save-cost-circle{
    position: fixed;
    bottom: 20%;
    left:25%;
  }
  .mobile-circle-text-wrapper-save-cost {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-25%, -45%);
    margin-top: 10px;
    white-space: nowrap;
  }
  .triangle-grained-news, .triangle-grained{
      display: none !important;
  }

}
