    
    
    @font-face {
        font-family: CircularStd-Medium;
        src: url("../font/Circular_Std_Medium.ttf");
      } 
    
      @font-face {
        font-family: CircularStd-Book;
        src: url("../font/CircularStd-Book.otf");
      }  
    
      @font-face {
        font-family: CircularStd-Bold;
        src: url("../font/CircularStd-Bold.otf");
      } 

      @font-face {
        font-family: CircularStd-Black;
        src: url("../font/CircularStd-Black.otf");
      }
    /* Section 1
	 * --------------------------------------- */
     #section1 h1{
        font-family: CircularStd-Medium;
        font-size: 54px;
        font-weight: 900; 
        line-height: 1.2; 
        color: #ffffff;
        text-align: left;
	}
	#section1 p{
        opacity: 0.4;
        font-family: CircularStd-Medium;
        font-size: 15px;  
        text-align: left;
        color: #ffffff;
	}
	/* #section1 img{
		padding: 20px; 
    } */
    
    #section1 .wire{
      position: absolute;
      left: -25px;
      top: 19%;
    }
    .mt-neg {
        margin-top: -24px;
    }
	/* Section 2
	 * --------------------------------------- */
	#section2 h1,
	#section2 p{
		z-index: 3;
	}
	#section2 p{
		opacity: 0.8;
	}

	#section2 #colors{
		right: 60px;
		bottom: 0;
		position: absolute;
		height: 413px;
		width: 258px;
		background-image: url(imgs/colors.gif);
		background-repeat: no-repeat;
	}

	/* Section 3
	 * --------------------------------------- */
	#section3 #colors{
		left: 60px;
		bottom: 0;
	}
	#section3 p{
		color: #757575;
	}

	#colors2,
	#colors3{
		position: absolute;
		height: 163px;
		width: 362px;
		z-index: 1;
		background-repeat: no-repeat;
		left: 0;
		margin: 0 auto;
		right: 0;
	}
	#colors2{
		background-image: url(imgs/colors2.gif);
		top:0;
	}
	#colors3{
		background-image: url(imgs/colors3.gif);
		bottom:0;
	}

	/* Section 4
	 * --------------------------------------- */
	#section4 p{
		opacity: 0.6;
	}

	/* Overwriting fullPage.js tooltip color
	* --------------------------------------- */
	#pp-nav.custom .pp-tooltip{
		color: #AAA;
	}
	#markup{
		display: block;
		width: 450px;
		margin: 20px auto;
		text-align: left;
    }
    #menu li.active a {
      position: relative;
      border: 1px solid #17ACE1;
      background-color: white;
    }
    #menu li.active a::before {
      content: "";
      z-index: -1;
      position: absolute;
      top: -1px;
      bottom: -1px;
      left: 5px;
      right: 5px;
      background-color: white;
    }
    #menu li.active a::after {
      content: "";
      z-index: -1;
      position: absolute;
      top: 5px;
      bottom: 5px;
      left: -1px;
      right: -1px;
      background-color: white;
    }
    /* #menu li.active {
        position: relative;
        border: 1px solid #17ACE1;
        background-color: white;
      }
      #menu li.active::before {
        content: "";
        z-index: 0;
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: 5px;
        right: 5px;
        background-color: white;
      }
      #menu li.active::after {
        content: "";
        z-index: 0;
        position: absolute;
        top: 5px;
        bottom: 5px;
        left: -1px;
        right: -1px;
        background-color: white;
      } */

      .section1 {
        height: 100vh;
        margin: 0;
        background: #ffffff;
      }
      
      /* .section1:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: -156px;
    width: 573px;
    background: #000;
    transform: skew(-21deg);
    z-index: -1;
      } */

      .logo {
        position: fixed;
        margin-top: 30px;
        width: 96px;
        height: 90px;
        background: url(../images/car-dekho-logo.png);
        background-repeat: no-repeat;
        left: 3%;
        z-index: 99;
        letter-spacing: 26px;
    }

    .logo1 {
        position: fixed;
        margin-top: 30px;
        width: 196px;
        height: 90px;
        background: url(../images/MG-Logo.svg);
        background-repeat: no-repeat;
        right: 3%;
        z-index: 99;
        letter-spacing: 26px;
    }
    .title img{
        height: 141px;
    }

    .title {
        -webkit-text-stroke: 0.5px rgba(124, 147, 166, 0.3);
        font-size: 80px;
        font-weight: 900; 
        color: rgba(255, 255, 255, 0);
        position: absolute;
        left: -111px;
        bottom: 0;
        font-family: CircularStd-Black;
    }

    .percentage {
      position: absolute;
      right: 6%;
      font-size: 20px;
      font-weight: 900;
      text-align: left;
      color: #39556d;
      font-family: CircularStd-Black;
      bottom: 23%;
        
    }

    .dark-block {
        width: 9px;
  height: 12px;
  border-radius: 1px;
  background-color: #39556d;
    }

    .light-block {
        width: 9px;
  height: 12px;
  opacity: 0.33;
  border-radius: 1px;
  /* box-shadow: inset 0 0 5px 0 #00fdff; */
  background-image: linear-gradient(to right, #39556d 29%, rgba(0, 145, 255, 0.1) 100%);
    }


    .section2 {
        height: 100vh;
        margin: 0;
        background: #ffffff;
    }

    /* .section2:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0; 
        width: 287px;
        background: #000; 
        z-index: -1;
    } */

    .video-title {
        font-family: CircularStd-Bold;
        font-size: 13px;
        font-weight: bold; 
        line-height: 1.62;
        letter-spacing: 1px;
        color: #ffffff;
        margin-top: 13px;
    }

    
canvas {
    display: block;
    vertical-align: bottom;
  }
  
  
  /* ---- particles.js container ---- */
  
  .particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: white; */
    z-index: 8;
  }

  .spec-text {
    font-family: CircularStd-Bold;
    font-size: 13px;
    font-weight: bold; 
    line-height: 1.38;
    letter-spacing: 4.03px; 
    color: #39556d;
    text-transform: uppercase;
    text-align: center;
}

.spec-title{
    font-size: 46px;
  font-weight: 900; 
  text-align: center;
  color: #39556d;
  font-family: CircularStd-Black;
}
.p-65{
  padding-left: 65px; 
}

.percent-wrapper{
  width: 1221px;
  position: relative;
}

.yourButton {
    position: relative; 
    color: #FFFFFF;  
    line-height: 40px;
    width: 100%;
    height: 323px;
    background-color: #17ACE1;
    margin-top: 23px;
    z-index: -1;
    padding:40px 0 0 37px ;
}

.yourButton:before {
    content:"";
    position: absolute;
    top:0px;
    left:0;
     width: 0;
      height: 0;
      border-top: 50px solid #ffffff;
      border-right: 50px solid transparent;
}

.mtr-neg {
    margin-top: -39px; 
    margin-left: -40px;
}
.desc {
    font-family: CircularStd-Book;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 3px;
    text-align: justify;
    color: #ffffff;
}

.top-title {
    font-family: CircularStd-Book;
    font-size: 9px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.8px;
    color: #ffffff;
    margin-bottom: 10px;
  }
  .mt-45{
      margin-top: 45px;
  }


  .section3 {
    height: 100vh;
    margin: 0;
    background: #ffffff;
}

/* .section3:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0; 
    width: 287px;
    background: #000; 
    z-index: -1;
} */



  /* 
 * ==== octogone
 */
.octo, .octo div {
    margin: 0 auto;
    transform-origin: 50% 50%;
    overflow: hidden;
    width: 418px;
    height: 418px;
  }
  .octo, .octo div {
    width: 390px;
    height: 390px;
  }
  .octo {
    transform: rotate(45deg);
  }
  .octo1 {
    transform: rotate(-45deg);
  }

  .mt-22{
      margin-top: 22px;
  }
  .pl-32{
      padding-left: 32px;
      font-family: CircularStd-Black;
  font-size: 20px;
  font-weight: 900; 
  text-align: center;
  color: #17ACE1;
  text-align: left;
  }

.red-dark-block {
    width: 9px;
height: 12px;
border-radius: 1px;
background-color: #17ACE1;
}

.red-light-block {
    width: 9px;
height: 12px;
opacity: 0.33;
  border-radius: 1px;
  box-shadow: inset 0 0 5px 0 #00fdff;
  background-image: linear-gradient(to right, #17ACE1 29%, rgba(0, 145, 255, 0.1) 100%);
}
.charge-text{
    font-family: CircularStd-Book;
    font-size: 10px; 
    letter-spacing: 3.1px;
    color: #8998a2; 
    text-transform: uppercase;
    margin-top: 14px;
}

.comp-wire{
    position: absolute;
    left: 0;
    top:14%;
}

.line1{
    width: 249.9px;
    height: 2px;
    opacity: 0.2;
    border-style: solid;
    border-width: 1px;
    border-image-source: linear-gradient(to right, rgba(222, 222, 222, 0) 0%, #e8e8e8 100%);
    border-image-slice: 1;
    position: absolute;
    left: 0;
    top: 42%;
  }


  .line2{
    width: 132px;
    height: 2px;
    opacity: 0.2;
    border-style: solid;
    border-width: 1px;
    border-image-source: linear-gradient(to right, rgba(222, 222, 222, 0) 0%, #e8e8e8 100%);
    border-image-slice: 1;
    position: absolute;
    left: 11%;
    top: 47%;
  }

  .line3{
    width: 99.3px;
    height: 2px;
    opacity: 0.2;
    border-style: solid;
    border-width: 1px;
    border-image-source: linear-gradient(to right, rgba(222, 222, 222, 0) 0%, #e8e8e8 100%);
    border-image-slice: 1;
    position: absolute;
    left: 8%;
    top: 53%;
  }


  .line4{
    width: 230px;
    height: 2px;
    opacity: 0.2;
    border-style: solid;
    border-width: 1px;
    border-image-source: linear-gradient(to right, rgba(222, 222, 222, 0) 0%, #e8e8e8 100%);
    border-image-slice: 1;
    position: absolute;
    left:4%;
    top: 58%;
  }


  .line5{
    width: 287px;
    height: 2px;
    opacity: 0.2;
    border-style: solid;
    border-width: 1px;
    border-image-source: linear-gradient(to right, rgba(222, 222, 222, 0) 0%, #e8e8e8 100%);
    border-image-slice: 1;
    position: absolute;
    left: 0;
    top: 63%;
  }
  .bg-circle{
      /* background: url(../images/Oval-grained.png) no-repeat center center; */
      position: absolute;
      left: 8%;
    top: 73%;
    /* width: 40px;
    height: 40px; */
    border-radius: 50%;
  }

  .truly-affordable{
    font-family: CircularStd-Book;
    font-size: 10px;
    letter-spacing: 3.1px;
    color: #8998a2;
    text-transform: uppercase;
    margin-top: 14px;
    position: absolute;
    text-align: center;
    left: 5%;
    top: 48%;
  } 
  .engine{
    font-family: CircularStd-Book;
    font-size: 9px; 
    letter-spacing: 1.8px;
    color: #8998a2;
    margin-top: 80px;
  }
  .engine-desc{
    font-family: CircularStd-Book;
    font-size: 14px; 
    letter-spacing: 4.34px;
    color: #8998a2;
    margin-top: 9px;
  }
  .emission{
    font-family: CircularStd-Book; 
    font-size: 10px; 
    letter-spacing: 2px;
    color: #8998a2;
    margin-bottom: 109px;
  }

 /* css by tarun */
  
 

  #tab {
    position: absolute;
    bottom: 0; 
    z-index: 70; 
    padding: 0;
    margin: 0;
}

#tab li {
  display: inline-block;
  position: relative;
  margin: 10px;
  color: #000;
}

#tab li.active {
  position: relative;
  border: 1px solid #17ACE1;
  background-color: white;
}
#tab li.active a {
  color: #17ACE1;
  position: relative;
  z-index: 1;
}

#tab li a {
  font-family: CircularStd-Bold;
  font-weight: bold;
  font-size: 12px;
  /* line-height: 4.17; */
  letter-spacing: normal;
  text-align: right;
  color: #7c93a6;
}

#tab li a, #menu li.active a {
  padding: 1.3px 11px;
  display: block;
}
#tab li.active::before {
  content: "";
  z-index: 0;
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: 5px;
  right: 5px;
  background: #fff;
  color: #000;
  z-index: -1;
}

#tab li.active::after {
  content: "";
  z-index: 0;
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: -1px;
  right: -1px;
  background:white;
}

/* #tab li::before {
  content: "";
  z-index: 0;
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: 5px;
  right: 5px;
  background-color: red;
} */
#tab li:last-child::after {
  content: "";
  z-index: 0;
  position: absolute;
  bottom: 18px;
  right: -28px;
  width: 41px;
  width: 37px;
  border: none;
}


#tab li::after {
  content: "";
  z-index: 0;
  position: absolute;
  bottom: 18px;
  right: -28px;
  width: 41px;
  width: 37px;
  border: solid 1px #7c93a6;
}


.section7 {
  height: 100vh;
  margin: 0;
  background: #ffffff;
}

.section7:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0; 
  width: 287px;
  background: #000; 
  z-index: -1;
}

.triangle-grained {
  position: absolute;
  bottom: 20%;
  right: 0;
}

h2.charge{
  font-family: CircularStd-Medium;
  font-size: 9px;
  font-weight: 500; 
  line-height: 1.78;
  letter-spacing: 4px;
  text-align: center;
  color: #7c93a6;
  position: absolute;
  top: 0;
}

.section6 {
  height: 100vh;
  margin: 0;
  background: #ffffff;
}

.section6:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0; 
  width: 287px;
  background: #000; 
  z-index: -1;
}

.circle-grained {
  position: absolute;
  bottom: 50%;
  left: 71px;
}
.era{
  font-family: CircularStd-Book;
  font-size: 10px; 
  line-height: 1.7;
  letter-spacing: 2px;
  color: #8998a2; 
  position: absolute;
  bottom:45%;
 
}

.circle-margin-history {
  position: absolute;
  top: 50px;
  right: 0;
  z-index: -1;
}

.circle-margin-benefit {
  position: absolute;
  top: 50px; 
  z-index: -1;
}
.circle-full-benefit {
  width: 100%;
  height: 100%;
  position: relative;
}
.h-40{
  height: 40vh;
}
.savebig-benefit {
  position: absolute;
  top: 50%;
  left: -1%;
  transform: translate(0, -50%);
}
.motor-oval-text-benefit {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-2%, -50%);
}

.carousel-indicators li.active:after {
  content: "";
  z-index: 0;
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: -1px;
  right: -1px;
  background-color: white;
}
.carousel-indicators li span {
  color: #17ACE1;
  position: relative;
  z-index: 1;
}

#carouselBenefit .carousel-item {
  height: 100vh;
}

#carouselBenefit .carousel-indicators {
  position: absolute;
  right: 0;
  bottom: -50px;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  /* margin-right: 5%;
  margin-left: 25%; */
  list-style: none;
}

#carouselBenefit .carousel-indicators{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 5%;
  /* left: 1%; */
}
#carouselBenefit .carousel-indicators li {
  position: relative;
  font-family: CircularStd-Book;
  font-size: 12px;
  font-weight: bold;
  color: #7c93a6;
  width: auto;
  height: 18px;
  text-indent: unset;
  padding: 1.3px 11px;
  margin-right:30px;
  margin-left:30px;
  z-index: 1; 
  
}
 
#carouselBenefit .carousel-indicators li.active {
  position: relative;
  border: 1px solid #17ACE1;
  background: #fff;
  z-index: 1;
  color:#17ACE1;
}

#carouselBenefit .carousel-indicators li.active::before {
  content: "";
  z-index: 0;
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: 5px;
  right: 5px;
  background-color: white;
  }
  #carouselBenefit .carousel-indicators li{
    opacity: 1 !important;
  }
  #carouselBenefit .carousel-indicators li span{
    position:relative;
  }
  #carouselBenefit .carousel-indicators li span::after{
    position: absolute;
    content: '';
    width: 40px;
    height: 1.5px;
    background-color: #7c93a6 !important;
    top:50%;
    right:-60px;
    opacity: 0.7 !important;
  }
  #carouselBenefit .carousel-indicators li:last-child span::after{
  
  display:none;
  }

  #carouselBenefit .carousel-item:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 287px;
    background: #000;
    z-index: -1;
}


#carouselBenefit .carousel-item:last-child:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 287px;
  background: #019e43;
  z-index: -1;
}

.benefit-oval-text {
  position: absolute;
  top: 50%;
  left: -18%;
  transform: translate(8%, -50%);
}
.circle-eco-benefit {
  position: absolute;
  top: 35%;
  z-index: -1;
}
.height-50{
  height: 50vh;
}

.circle-margin-component {
  position: absolute;
  top: 50%;
  z-index: -1;
  left: 35%;
}

.motor-oval-text-component {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(17%, -50%);
}

.component-motor-oval {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-21%, -50%); 
}

.circle-margin-motor {
  position: absolute;
  top: 50%;
  z-index: -1;
}

.component-controller-oval {
  position: absolute;
  top: 50%;
  left: -7%;
  transform: translate(4%, -50%);
}
.controller-text{
  font-family: CircularStd-Book;
  font-size: 10px; 
  line-height: 1.7;
  letter-spacing: 2px; 
  color: #8998a2;
}
.controller-top {
  position: absolute;
  top: -30px;
  left: 14%;
}

.mt-23{
  margin-top: 23%;
}

.charge-up {
  font-family: CircularStd-Book;
  font-size: 10px; 
  line-height: 1.7;
  letter-spacing: 2px; 
  color: #8998a2;
  text-transform: uppercase;
  margin-top: 20px;
  text-align: center; 
  position: absolute;
  left: -5%;
  top: 10%;

}
.img-myth-top{
  max-width: 7.5vw;
margin-left: 8vw;
margin-top: -2vw;
}

.tri-cir-wrap {
  width: 70px;
  height: 73px;
  position: relative;
  margin-left: 8vw;
}

.tri-cir-myth-wrap {
  width: 80px;
  height: 73px;
  position: relative;
  margin-left: 2vw;
}
.rel-margin {
  position: relative;
  left: -80%;
}
.circle-margin-controller {
  position: absolute;
  top: 0;
  z-index: -1;
}
.clean-air {
  position: relative;
  opacity: 1;
  font-family: CircularStd-Bold;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 3.72px;
  text-align: center;
  color: #019e43;
}


.zero-emission {
  position: relative;
  opacity: 1;
  font-family: CircularStd-Black;
  font-size: 50px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #019e43;
}
.howgogreen {
  font-family: CircularStd-Book;
  font-size: 10px; 
  letter-spacing: 2px;
  color: #8998a2;
  text-transform: uppercase;
  margin-top: 14px;
}
.mt-6{
  margin-top: 4rem;
}

.circle-behind {
  position: absolute;
  bottom: -33px;
  right: -15px;
}

.square {
  width: 87px;
  position: relative;
}

.square-border {
  position: absolute;
  right: 0;
  top: 32px;
}
.heal-world{font-family: CircularStd-Book;
  font-size: 10px; 
    letter-spacing: 2px;
    color: #019e43;
  display: flex;
  align-items: center;
  }


  .pl-20 {
    padding-left: 20px;
    font-family: CircularStd-Black;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: #17ACE1;
    text-align: left;
    margin-top: 122px;
}

.full-charge-text {
  font-family: CircularStd-Book;
  font-size: 10px; 
  text-transform: uppercase;
  margin-top: 14px;
  letter-spacing: 2px;
  color: #8998a2;
}
.km-text{
  font-family: CircularStd-Bold;
  font-size: 19px;
  font-weight: bold; 
  line-height: 1.58;
  letter-spacing: 5px;
  color: #39556d;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.graph-wrap {
  margin-bottom: 32px;
}
.graph1 {
  width: 66px;
  height: 44px; 
  opacity: 0.5;
  background-image: linear-gradient(to right, rgba(57, 85, 109, 0),  #39556d );
}

.graph2 {
  width: 92px;
  height: 44px; 
  opacity: 0.5;
  background-image: linear-gradient(to right,  rgba(57, 85, 109, 0),  #39556d);
}

.graph3 {
  width: 313px;
  height: 44px; 
  background-image: linear-gradient(to right, rgba(207, 34, 48, 0), #17ACE1);
}
.car-type{
  font-family: CircularStd-Bold;
  font-size: 10px;
  font-weight: bold;  
  line-height: 1.64;
  letter-spacing: 3.1px;
  color: #39556d;
}
.car-distance{
  font-family: CircularStd-Bold;
  font-size: 14px;
  font-weight: bold;  
  line-height: 1.64;
  letter-spacing: 4.34px;
  color: #39556d;
}

.car-type-red{
  font-family: CircularStd-Bold;
  font-size: 10px;
  font-weight: bold;  
  line-height: 1.64;
  letter-spacing: 3.1px;
  color: #17ACE1;
}
.car-distance-red{
  font-family: CircularStd-Bold;
  font-size: 14px;
  font-weight: bold;  
  line-height: 1.64;
  letter-spacing: 4.34px;
  color: #17ACE1;
}
.circle-history {
  position: absolute;
  top: 12%;
  right: 34%;
  z-index: -1;
}

.history-oval-text {
  position: absolute;
  top: 50%;
  left: 33%;
  transform: translate(-22%, -50%); 
  margin-top: 10px;
}

.top-bg {
  position: absolute;
  top: 10%;
    right: 23%;
}
.mt-neg{
  margin-top: -57px;
}

.destination {
  position: absolute;
  top: 32%;
  right: 44.2%;
}


#carouselhistory .carousel-item {
  height: 100vh;
}
#carouselhistory .carousel-indicators {
  position: absolute;
  right: 0;
  bottom: -50px;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  /* margin-right: 5%;
  margin-left: 25%; */
  list-style: none;
}

#carouselhistory .carousel-indicators{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 5%;
  /* left: 1%; */
}
#carouselhistory .carousel-indicators li {
  position: relative;
  font-family: CircularStd-Book;
  font-size: 12px;
  font-weight: bold;
  color: #7c93a6;
  width: auto;
  height: 18px;
  text-indent: unset;
  padding: 1.3px 11px;
  margin-right:30px;
  margin-left:30px;
  z-index: 1; 
  
}
 
#carouselhistory .carousel-indicators li.active {
  position: relative;
  border: 1px solid #17ACE1;
  background: #fff;
  z-index: 1;
  color:#17ACE1;
}

#carouselhistory .carousel-indicators li.active::before { 
    content: "";
    z-index: 0;
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: 5px;
    right: 5px;
    background-color: white;
  }
  #carouselhistory .carousel-indicators li{
    opacity: 1 !important;
  }
  #carouselhistory .carousel-indicators li span{
    position:relative;
  }
  #carouselhistory .carousel-indicators li span::after{
    position: absolute;
    content: '';
    width: 40px;
    height: 1.5px;
    background-color: #7c93a6 !important;
    top:50%;
    right:-60px;
    opacity: 0.7 !important;
  }
  #carouselhistory .carousel-indicators li:last-child span::after{
  
  display:none;
  }

  #carouselhistory .carousel-item:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 287px;
    background: #000;
    z-index: -1;
}
#carouselhistory .carousel-item:first-child:before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -156px;
  width: 573px;
  background: #000;
  transform: skew(-21deg);
  z-index: -1;
}
.early {
  font-size: 10px;
  font-weight: bold; 
  line-height: 1.7;
  letter-spacing: 3.1px;
  color: #39556d;
  font-family: CircularStd-Bold;
}
.oval-text-history {
  position: absolute;
  top: 50%;
  left: -85%;
  transform: translate(56%, -50%);
  margin-left: -9px;
  margin-top: 0px;
}
.text-history {
  position: relative;
  opacity: 1;
  font-family: CircularStd-Black;
  font-size: 32px;
  font-weight: 900; 
  text-align: left;
  color: #17ACE1;
}

#carouselmg .carousel-item {
  height: 100vh;
}
#carouselmg .carousel-indicators {
  position: absolute;
  right: 0;
  bottom: -50px;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  /* margin-right: 5%;
  margin-left: 25%; */
  list-style: none;
}

#carouselmg .carousel-indicators{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 5%;
  /* left: 1%; */
}
#carouselmg .carousel-indicators li {
  position: relative;
  font-family: CircularStd-Book;
  font-size: 12px;
  font-weight: bold;
  color: #7c93a6;
  width: auto;
  height: 18px;
  text-indent: unset;
  padding: 1.3px 12px;
  margin-right:30px;
  margin-left:30px;
  z-index: 1;
  
  
  
  
}
 
#carouselmg .carousel-indicators li.active {
  position: relative;
  border: 1px solid #17ACE1;
  background: #fff;
  z-index: 1;
  color:#17ACE1;
}

#carouselmg .carousel-indicators li.active::before {
  content: "";
  z-index: 0;
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: 5px;
  right: 5px;
  background-color: white;
  }

  #carouselmg .carousel-indicators li.active:after {
    content: "";
    z-index: 0;
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: -1px;
    right: -1px;
    background-color: white;
}
  #carouselmg .carousel-indicators li{
    opacity: 1 !important;
  }
  #carouselmg .carousel-indicators li span{
    color: #17ACE1;
    position: relative;
    z-index: 1;
  }
  #carouselmg .carousel-indicators li span::after{
    position: absolute;
    content: '';
    width: 40px;
    height: 1.5px;
    background-color: #7c93a6 !important;
    top:50%;
    right:-60px;
    opacity: 0.7 !important;
  }
  #carouselmg .carousel-indicators li:last-child span::after{
  
  display:none;
  }

  #carouselmg .carousel-item:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 287px;
    background: #000;
    z-index: -1;
}


.left-right{
  font-size: 9px;
    font-weight: 500;
    color: #7c93a6;
    font-family: CircularStd-Medium;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    left: 0; 
    position: fixed;
    bottom: 2%;
    right: 0; 
}

.bottom-nav {
  position: fixed;
    bottom: 2%;
    right: 33px;
    z-index: 9;
}

.btm-square {
  border-radius: 2px;
  border: solid 0.7px #7c93a6;
  background-color: rgba(255, 255, 255, 0);
  padding: 4px 8px;
}
.btm-text{
  text-align: center;
  font-family: CircularStd-Medium;
  font-size: 9px;
  font-weight: 500; 
  text-align: center;
  color: #7c93a6;
  text-transform: uppercase;
}
 

.active .btm-square {
  color: #17ACE1;
  border: 1px solid #17ACE1;
}

.menu-number{
  -webkit-text-stroke: 0.5px #7c93a6;
  font-family: CircularStd-Black;
  font-size: 80px;
  font-weight: 900; 
  text-align: center;
  color: rgba(255, 255, 255, 0);
  display: inline;
  vertical-align: middle;
  line-height: 0;
}

span.menu-line {
  width: 22px;
    height: 1px;
    background-color: #17ACE1;
    margin-left: 6px;
    display: inline-block;
}
.circle-wrapper {
  position: absolute;
  top: 18%;
  right: 34%;
  z-index: -1;
}
.new-history-oval {
  position: absolute;
  width: 278px;
  height: 278px;
  top: -5%;
  left: 5%;   
  opacity: 0.1; 
  border-radius: 100%;
  background-image: conic-gradient(from 1turn, rgba(0, 145, 255, 0), #17ACE1, rgba(0, 145, 255, 0));
  
  -webkit-animation: outerRotate2 15s infinite linear;
  -moz-animation: outerRotate2 15s infinite linear;
  -o-animation: outerRotate2 15s infinite linear;
  animation: outerRotate2 15s infinite linear;
}
@-webkit-keyframes outerRotate1 {
  0% {
    transform: translate(-0%, -0%) rotate(0);
  }
  100% {
    transform: translate(-0%, -0%) rotate(360deg);
  }
}
@-moz-keyframes outerRotate1 {
  0% {
    transform: translate(-0%, -0%) rotate(0);
  }
  100% {
    transform: translate(-0%, -0%) rotate(360deg);
  }
}
@-o-keyframes outerRotate1 {
  0% {
    transform: translate(-0%, -0%) rotate(0);
  }
  100% {
    transform: translate(-0%, -0%) rotate(360deg);
  }
}
@keyframes outerRotate1 {
  0% {
    transform: translate(-0%, -0%) rotate(0);
  }
  100% {
    transform: translate(-0%, -0%) rotate(360deg);
  }
}



@-webkit-keyframes outerRotate2 {
  0% {
    transform: translate(-0%, -0%) rotate(0);
  }
  100% {
    transform: translate(-0%, -0%) rotate(-360deg);
  }
}
@-moz-keyframes outerRotate2 {
  0% {
    transform: translate(-0%, -0%) rotate(0);
  }
  100% {
    transform: translate(-0%, -0%) rotate(-360deg);
  }
}
@-o-keyframes outerRotate2 {
  0% {
    transform: translate(-0%, -0%) rotate(0);
  }
  100% {
    transform: translate(-0%, -0%) rotate(-360deg);
  }
}
@keyframes outerRotate2 {
  0% {
    transform: translate(-0%, -0%) rotate(0);
  }
  100% {
    transform: translate(-0%, -0%) rotate(-360deg);
  }
}
.outer-img{ 
  -webkit-animation: outerRotate1 15s infinite linear;
  -moz-animation: outerRotate1 15s infinite linear;
  -o-animation: outerRotate1 15s infinite linear;
  animation: outerRotate1 15s infinite linear;
}


 .middle-img{
  position: absolute;
    top: 0;
    left: 8%;
    -webkit-animation: outerRotate2 15s infinite linear;
    -moz-animation: outerRotate2 15s infinite linear;
    -o-animation: outerRotate2 15s infinite linear;
    animation: outerRotate2 15s infinite linear;
 }

 .inner-img{
  position: absolute;
    top: 9%;
    left: 16%;
    -webkit-animation: outerRotate1 5s infinite linear;
    -moz-animation: outerRotate1 5s infinite linear;
    -o-animation: outerRotate1 5s infinite linear;
    animation: outerRotate1 5s infinite linear;
 }
.circle-text-wrapper{
  position: absolute;
    top: 50%;
    left: -27%;
    transform: translate(56%, -50%);
}
.big-text{position: relative;
  opacity: 1;
  font-family: CircularStd-Black;
  font-size: 50px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #17ACE1;
  margin-top: 10px;}
.small-text{  
  position: relative;
  opacity: 1;
  font-family: CircularStd-Bold;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 3.72px;
  text-align: center;
  color: #17ACE1;
}
