.section4:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0; 
    width: 287px;
    background: #000; 
    z-index: -1;
}

.section4 .Oval-Copy {
  width: 32px;
  height: 32px;
  opacity: 0.3;
  border: solid 5px #7c93a6;
}

.Rectangle {
  width: 9px;
  height: 84px;
  transform: rotate(-90deg);
  background-image: linear-gradient(to right, #17ACE1 0%, rgba(0, 145, 255, 0) 100%);
}

.Path-3 {
  width: 64.8px;
  height: 59px;
  opacity: 0.3;
  border: solid 5px #7c93a6;
}

.better-aerodynamics {
  
  font-family: CircularStd-Book;
    font-size: 13px;
    color: #8998a2;
    text-transform: uppercase;
    line-height: 1.7;
    padding-left: 137px;
}

.Oval1 {
  width: 278px;
  height: 278px;
  transform: rotate(-33deg);
  opacity: 0.1;
  background-image: conic-gradient(from 1turn, rgba(0, 145, 255, 0), #17ACE1, rgba(0, 145, 255, 0));
}

.longer-lasting-fast {
  font-family: CircularStd-Book;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 2px;
  text-align: left;
  color: #8998a2;
  text-transform: uppercase;
  margin-top: 20px;
  text-align: center;
  padding-right: 150px;
}


.circle-margin{
  padding-top:100px;
}
.circle-full{
  width: 100%;
  height: 100%;
  position: relative;
  
}
.motor-oval {
  position: absolute;
  width: 278px;
  height: 278px;
  top: 0;
  left: 0;
  opacity: 0.1;
  margin-left: 27px;
  margin-top: 15px;
  border-radius: 100%;
  background-image: conic-gradient(from 1turn, rgba(0, 145, 255, 0), #17ACE1, rgba(0, 145, 255, 0));
 
}

.motor-oval-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: -35px;
  margin-top: 10px;
}
.max-power-zero-rpm {
  position: relative;
  opacity: 1;
  font-family: CircularStd-Bold;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 3.72px;
  text-align: center;
  color: #17ACE1;
  
}
.motor {
  position: relative;
  opacity: 1;
  font-family: CircularStd-Black;
  font-size: 50px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #17ACE1;
  margin-top: 10px;
}

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
#carouselExampleIndicators .carousel-item{
  height: 100vh;
}
#carouselExampleIndicators .carousel-control-next, #carouselExampleIndicators .carousel-control-prev {
  display: none;
}
#carouselExampleIndicators .carousel-indicators {
  position: absolute;
  right: 0;
  bottom: -50px;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  /* margin-right: 5%;
  margin-left: 25%; */
  list-style: none;
}

#carouselExampleIndicators .carousel-indicators{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 5%;
  /* left: 1%; */
}
#carouselExampleIndicators .carousel-indicators li {
  position: relative;
  font-family: CircularStd-Book;
  font-size: 12px;
  font-weight: bold;
  color: #7c93a6;
  width: auto;
  height: 18px;
  text-indent: unset;
  padding: 1.3px 11px;
  margin-right:30px;
  margin-left:30px;
  z-index: 1;
  
  
  
  
}
/*
#carouselExampleIndicators .carousel-indicators li:last-child:after{
  display: none;
}



#carouselExampleIndicators .carousel-indicators li span{
  display:block;
}
#carouselExampleIndicators .carousel-indicators li span::after{
  position: absolute;
  content: '';
  width: 40px;
  height: 2px;
  background-color: #7c93a6 !important;
  top:50%;
  left:100%;
  margin-top: -1px;
  margin-left: 6px;
  
}
*/
#carouselExampleIndicators .carousel-indicators li.active {
  position: relative;
  border: 1px solid #17ACE1;
  background: #fff;
  z-index: 1;
  color:#17ACE1;
}

#carouselExampleIndicators .carousel-indicators li.active::before {
  content: "";
  z-index: 0;
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: 5px;
  right: 5px;
  background-color: white;
  }
  #carouselExampleIndicators .carousel-indicators li{
    opacity: 1 !important;
  }
  #carouselExampleIndicators .carousel-indicators li span{
    position:relative;
  }
  #carouselExampleIndicators .carousel-indicators li span::after{
    position: absolute;
    content: '';
    width: 40px;
    height: 1.5px;
    background-color: #7c93a6 !important;
    top:50%;
    right:-60px;
    opacity: 0.7 !important;
  }
  #carouselExampleIndicators .carousel-indicators li:last-child span::after{
  
  display:none;
  }
  
  .virtually-img{
    position: relative;
    margin-top: 150px;
   
  }
  .virtually-img img{
    margin-left: -25px;
    
  }
  .virtually-maintenance {
   
    font-family: CircularStd-Book;
     font-size: 11px;
     letter-spacing: 3.1px;
     color: #8998a2;
     text-transform: uppercase;
     margin-top:-10px;
     position: absolute;
     text-align: left;
     left: 10%;
     top: 0;
  }
  .circle-inside-an-ev{
    position: relative;
    margin-top: 20px;
    text-align: right;
    margin-right:150px
    
  }
  
  .inside-an-EV {
    position: absolute;
    top:0;
    right: -45px;
    margin-top: 30px;
    margin-left: 0px;
    font-family: CircularStd-Book;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    color: #8998a2;
    text-transform: uppercase;
  }
  .wire-battery{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -20px;
    margin-left: -25px;
  }
  /* .wire-battery img{
    width: 92%;
  } */
  .capacity-up {
    position: relative;
    margin-top: 300px;
    margin-left:-25px;
  }
  .capacity-up-text {
     position: absolute;
      text-align: left;
      left: 25%;
      top: 0;
      font-family: CircularStd-Book;
      font-size: 10px;
      letter-spacing: 3.1px;
      color: #8998a2;
      text-transform: uppercase;
      margin-top: 65px;
     
  }
  
  .circle-inside-an-ev-battery {
    position: relative;
    margin-top: 0px;
    margin-left: 50px;
  }
  .inside-an-EV-battery {
    position: absolute;
    top: 0;
    left: 30px;
    margin-top: 30px;
    margin-left: 0px;
    font-family: CircularStd-Book;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    color: #8998a2;
    text-transform: uppercase;
  }
  .component-battery{
    margin-top:-10px;
    margin-left: -100px;
  }
  .arrow-floor-fitted-around{
    position: absolute;
    width: 100%;
    bottom: 10%;
    left: 45%;
    margin-left: 90px;
  }
  .arrow-floor-fitted-around .arrow{
    margin-left: 80px;
  }
  
  .floor-fitted-heavy {
    font-family: CircularStd-Book;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 2px;
    text-align: left;
    color: #8998a2;
    text-transform: uppercase;
    margin-top: 10px;
    text-align: center;
    padding-right: 150px;
  }
  
  .charge-80 {
    font-family: CircularStd-Book;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 2px;
    text-align: left;
    color: #8998a2;
    text-transform: uppercase;
    margin-top: 20px;
    padding-left: 40%;
  }
  .charge-80-rectangle {
    width: 9px;
    height: 12px;
    border-radius: 1px;
    background-color: #8998a2;
    margin-right: 2px;
  }
  .rectangle-copy-9 {
    width: 9px;
    height: 12px;
    opacity: 0.33;
    border-radius: 1px;
    background-image: linear-gradient(to right, #8998a2 29%, rgba(137, 152, 162, 0.09) 100%);
  }
  .rectangle-copy-10 {
    width: 9px;
    height: 12px;
    opacity: 0.33;
    border-radius: 1px;
    background-image: linear-gradient(to right, #8998a2 29%, rgba(137, 152, 162, 0.09) 100%);
  }
  .circle-margin-battery {
    margin-top: 15%;
    margin-left: 25%;
  }
  .circle-full-battery {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .motor-oval-text-battery {
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-left: -60px;
      margin-top: 0px;
    
  }
  .lithium-ion {
    font-family: CircularStd-Bold;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 3.72px;
    text-align: center;
    color: #17ACE1;
    text-transform: uppercase;
    margin-bottom: 8px;
  }
  .kilometres-fro {
    font-family: CircularStd-Bold;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: 3.72px;
    text-align: center;
    color: #17ACE1;
    text-transform: uppercase;
    margin-top: 11px;
 }
 
 .circle-inside-an-ev-controller {
  position: relative;
  margin-left: 30px;
  margin-top: 50px;
  text-align: left;
  
}
.inside-an-EV-controller {
  position: absolute;
  top: 0;
  left: 35px;
  margin-top: 35px;
  margin-left: 0px;
  font-family: CircularStd-Book;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2px;
  color: #8998a2;
  text-transform: uppercase;
}
.groundbreaking-intel {
  font-family: CircularStd-Book;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 2px;
  text-align: center;
  color: #8998a2;
  text-transform: uppercase;
  margin-bottom: 100px;
}
.charge-up-your-car {
  position: absolute;
  top: 0;
  left: 0;
  font-family: CircularStd-Book;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 2px;
  text-align: left;
  color: #8998a2;
  text-transform: uppercase;
  margin-top: 50px;
  margin-left: -40px;
  text-align: center;
  
}

.controller-arrow{
  position: absolute;
  top: 32%;
  left: 30%;
  transform: rotate(-180deg);
}

/***** section5    *****/
.section5:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 287px;
  background: #000;
  z-index: -1;
}
.triangle-img {
  text-align: left;
  padding-left: 30px;
  padding-top: 0px;
  margin-top:50px;
}
.triangle-txt{
  font-family: CircularStd-Book;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.58;
  letter-spacing: 3.72px;
  color: #8998a2;
  width:44%;
  margin-left:39%;
  margin-top:50px;
  margin-bottom: 70px;
}
.tree-img {
  margin-left: -25px;
}
#section5 .pp-tableCell{
  vertical-align: top !important;
}
.myth-box {
  margin-top: 60%;
}
.small-myths-car {
  margin-top: -10px;
  margin-left: -60%;
}
.diamond-img {
  position: relative;
  margin-left: 68px;
}
 .section4:before, .section5:before
{
  display:none;
}
.carousel-item:before
{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 287px;
  background: #000;
  z-index: -1;
}
.comp-box{
  padding:50px 40px;
  min-height: 20vw;
  max-width:18vw;
}
.comp-box.fact {
  background-color: #17ACE1;
}
.comp-box-title{
  font-family: CircularStd-Book;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 3.41px;
  color: #ffffff;
}
.comp-box-text{
  font-family: CircularStd-Book;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
}
.carousel-control-next, .carousel-control-prev
{
	display:none;
}

/* Myth Page */
#carouselMyths .carousel-item{
  height: 100vh;
}
#carouselMyths .carousel-control-next, #carouselMyths .carousel-control-prev {
  display: none;
}
#carouselMyths .carousel-indicators {
  position: absolute;
  right: 0;
  bottom: -50px;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  /* margin-right: 5%;
  margin-left: 25%; */
  list-style: none;
}

#carouselMyths .carousel-indicators{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 4%;
  /* left: 1%; */
}
#carouselMyths .carousel-indicators li {
  position: relative;
  font-family: CircularStd-Book;
  font-size: 12px;
  font-weight: bold;
  color: #7c93a6;
  width: auto;
  height: 18px;
  text-indent: unset;
  padding: 1.3px 11px;
  margin-right:30px;
  margin-left:30px;
  z-index: 1;
}
#carouselMyths .carousel-indicators li.active {
  position: relative;
  border: 1px solid #17ACE1;
  background: #fff;
  z-index: 1;
  color:#17ACE1;
}

#carouselMyths .carousel-indicators li.active::before {
  content: "";
  z-index: 0;
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: 5px;
  right: 5px;
  background-color: white;
  }
  #carouselMyths .carousel-indicators li{
    opacity: 1 !important;
  }
  #carouselMyths .carousel-indicators li span{
    position:relative;
  }
  #carouselMyths .carousel-indicators li span::after{
    position: absolute;
    content: '';
    width: 40px;
    height: 1.5px;
    background-color: #7c93a6 !important;
    top:50%;
    right:-60px;
    opacity: 0.7 !important;
  }
  #carouselMyths .carousel-indicators li:last-child span::after{
  
  display:none;
  }
  .comp-box.red-bg {
    background-color: #17ACE1;
  }
  .col-6.comp-box.transparent {
    border: solid 1px #7c93a6;
    margin-left: 1.8vw;
}
.comp-box-title{
  margin-bottom:24px;
}
.col-6.comp-box.transparent .comp-box-title, .col-6.comp-box.transparent .comp-box-text{
    color:#39556d;
}
.myth-md-6 {
  padding-top: 5vw;
}
.myth-caption-txt{
  font-family:  CircularStd-Book;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2px;
  color: #8998a2;
  margin-top:1.5vw;
  margin-left:38%;
}
.img-myth-cwr {
  max-width: 7.5vw;
  margin-left: 8vw;
  margin-top: -2vw;
}
.myth-box {
  /* margin-top: 60%; */
  margin-top: 12vw;
}
.costing-myths .triangle-txt{
  width: 83%;
  margin-left: 17%;
}
.costing-myths .triangle-txt span{
  display:block;
}
.costing-myths .small-myths-car {
  margin-top: -10px;
  margin-left: -109%;
}
.comp-box{
  padding:50px 40px;
  min-height: 443px;
  max-width:320px;
}
.charging-myths .triangle-txt {
  text-transform: uppercase;
  width: 79%;
  margin-left: 21%;
  margin-bottom: 28px;
  margin-top: -30px;
}
.charging-myths .triangle-img
{
  padding-left:20px;
  margin-top:9vw;
}
.charging-myths .myth-box{
margin-top:11vw;
}
.charging-myths .small-myths-car{
  margin-left: -59%;
}
.charging-myths .myth-caption-txt{
margin-left: -42%;
}

/*myth page responsive css*/
.comp-box.transparent {
  border: solid 1px #7c93a6;
  margin-left: 1.8vw;
}
.comp-box.transparent .comp-box-title, .comp-box.transparent .comp-box-text {
  color: #39556d;
}
.desktop-hidden{
  display:none;
}
